@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Merriweather", serif;
}
/* banner section style starts here */

.banner-container {
    width: 1320px;
    margin: 0 auto;
    min-height: 600px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 10px;
}
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
}
.banner-content p, h1 {
    color: white;

}
.banner-content h1 {
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}
.banner-content p {
    font-size: 32px;
    font-weight: 400;
}

/* second section starts here */
.second-section-container {
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
}
.second-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-section-content h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 50px;
}
.second-section-content p {
    color: rgb(255, 0, 0);
    font-family: inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.second-section-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.image-container {
    width: 802.9px;
    height: 500px;
}
.image-container img {
    width: 100%;
    height: 100%;
    margin-top: 25px;
}

/* midnight section style start here */

.midnight-section-container {
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-blend-mode: overlay;
    background-image: url("../images/Vectorrr.png");
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px; 
    display: flex;  
    margin-top: 50px; 
}
.midnight-text {
    width: 60%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.midnight-text h1 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}
.midnight-text p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 145px;
}
.midnight-text p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 145px;
    margin-top: 20px;
}

.midnight-img {
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.midnight-img img {
    width: 348px;
    height: 466px;
    margin: 0 auto;
    padding: 20px;
    margin-right: 25%;
}

.midnight-text span {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 10px;
    margin-right: 330px;
    margin-top: 30px;
}

/* PDT section style start here */

.pdt-section-container {
    width: 1320px;
    height: 482px;
    border-radius: 3px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
.pdt-section-container button {
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
}

/* Coming soon section style start here */

.comingsoon-container {
    width: 1320px;
    height: 463px;
    display: flex;
    margin: 0 auto;
    margin-top: 80px;
}
.comingsoon-1st-content {
    width: 33%;
    height: 463px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 20px;
}

.comingsoon-1st-content h4 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.comingsoon-1st-content h1 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.comingsoon-1st-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.comingsoon-2nd-content {
    width: 34%;
    height: 463px;
    border: 15px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 36px;
    box-sizing: border-box;
    border-radius: 50% 50%;
    margin-left: 100px;
}

.comingsoon-3rd-content {
    width: 33%;
    height: 463px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
    gap: 30px;
    margin-left: 126px;
}
.comingsoon-3rd-content h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.comingsoon-3rd-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.comingsoon-3rd-content img {
    width: 140px;
    height: 140px;
    left: 1184px;
    right: -1184px;
}

/* Holyday section style starts here */

.holyday-section-container {
    width: 1320px;
    height: 986.07px;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
}

.holyday-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
}

.holyday-text-content h5 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holyday-text-content h1 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holyday-text-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.solid-color {
    width: 1320px;
    height: 229px;
    background: red;
    border-radius: 16px 0px 16px 16px;
    position: absolute;
    margin-top: 35%;
}
.giftbox {
    width: 674.82px;
    height: 577.96px;
    position: absolute;
    margin-top: 25px;
}

.men-pic {
    width: 429px;
    height: 433px;
    margin-left: 67.5%;
    margin-top: 02.2%;
    display: flex;
    justify-content: center;
    background-color: darkgray;
}
.discount {
    width: 206.84px;
    height: 206.84px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 58%;
    bottom: 35%;
}

/* portfolio section style starts here */

.portfolio-container {
    width: 1320px;
    height: 1163px; 
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 50px;
}

.portfolio-text-content h5 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.portfolio-text-content h1 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.portfolio-text-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.item {
    width: 424px;
    height: 450px;
}
.item img {
    width: 100%;
    height: 100%;
}
.portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    justify-content: space-around;
    margin-top: 50px;
}